# Ignore node_modules directory
node_modules/

# Ignore specific files
/scripts/armscript.js
/scripts/popup.js
/scripts/armscriptTools.js
armscriptTest/
/styles/popup.css

# Ignore .idea directory
.idea/
